@gray-1: #f4f5f6;
@gray-2: #e8ebef;
@gray-3: #c4ccd4;
@gray-4: #7a818a;
@gray-5: #4a5159;
@gray-6: #363f4d;
@gray-7: #262f40;
@gray-8: #171f33;
@gray-9: #0d152b;
@gray-10: #0d152b;

@blue-1: #eaf7fe;
@blue-2: #c6e9fb;
@blue-3: #8dd4f7;
@blue-4: #6bc5f2;
@blue-5: #3eb5f1;
@blue-6: #2198e8;
@blue-7: #1f6bad;
@blue-8: #134c8b;
@blue-9: #032e6d;
@blue-10: #032e6d;

@primary-1: @green-1;
@primary-2: @green-2;
@primary-3: @green-3;
@primary-4: @green-4;
@primary-5: @green-5;
@primary-6: @green-6;
@primary-7: @green-7;
@primary-8: @green-8;
@primary-9: @green-9;
@primary-10: @green-10;

@green-1: #e7fbd5;
@green-2: #ccf8ac;
@green-3: #a5ea7d;
@green-4: #7cd459;
@green-5: #49b82b;
@green-6: #319e1e;
@green-7: #1e8416;
@green-8: #0d6a0e;
@green-9: #07570d;
@green-10: #07570d;

@gold-1: #fcf6d1;
@gold-2: #faeca3;
@gold-3: #f6da74;
@gold-4: #edc950;
@gold-5: #e3ae1a;
@gold-6: #c28f13;
@gold-7: #a2720d;
@gold-8: #825706;
@gold-9: #6b4605;
@gold-10: #6b4605;

@red-1: #fdead9;
@red-2: #fdceb1;
@red-3: #fdad8b;
@red-4: #fd8d6d;
@red-5: #fd573e;
@red-6: #d9372c;
@red-7: #b51f22;
@red-8: #921421;
@red-9: #780b1f;
@red-10: #780b1f;

@white: @gray-1;
@black: @gray-9;

@text-color: @gray-9;
@text-color-secondary: @gray-3;

@primary-color: @primary-5;
@info-color: @blue-5;
@success-color: @green-5;
@processing-color: @blue-5;
@error-color: @red-5;
@highlight-color: @red-5;
@warning-color: @gold-5;
@normal-color: @gray-1;

@body-background: #ffffff;
@component-background: #ffffff;
@card-background: #f4f7ff;
