@import "colors";

@modal-body-padding: 30px;
@modal-mask-bg: fade(@black, 35%);
@modal-header-bg: @card-background;

.@{dialog-prefix-cls}-content {
  background-color: @card-background;
  border-radius: 16px;
}

.@{dialog-prefix-cls}-header {
  border-radius: 16px 16px 0 0;
  border-bottom: none;
}

.@{dialog-prefix-cls}-footer {
  border-radius: 0 0 16px 16px;
  border-top: none;
}

.@{dialog-prefix-cls}-mask {
  background-color: rgba(13, 21, 43, 0.35);

  @media screen and (max-width: 767px) {
    background-color: @gray-1;
  }
}
