@import "colors";
@import "common";

@radio-button-bg: @disabled-color;
@radio-button-checked-bg: fade(@primary-color, 7%);

.@{radio-prefix-cls} {
  &-input:focus + .@{radio-inner-prefix-cls} {
    box-shadow: @box-shadow-primary !important;
  }
}

.@{radio-prefix-cls}-inner:after {
  content: none;
}

.@{radio-prefix-cls}-checked {
  .@{radio-prefix-cls}-inner {
    background: @white;
    border-width: 5px;
  }
}


.@{radio-prefix-cls}-button-wrapper {
  &-checked:not(&-disabled) {
    box-shadow: -2px 0 0 0 @radio-dot-color;

    &:hover {
      box-shadow: -2px 0 0 0 @radio-button-hover-color;
    }

    &:active {
      color: @radio-button-active-color;
      border-color: @radio-button-active-color;
      box-shadow: -2px 0 0 0 @radio-button-active-color;
    }
  }
}

.@{radio-prefix-cls}-button-wrapper {
  background-color: @component-background;
  transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s;
}
