@import "colors";
@import "common";

.@{select-prefix-cls} {
  &-disabled .@{select-prefix-cls}-selection {
    border-color: @disabled-color;
  }
}

.ant-select-auto-complete.ant-select .ant-input {
  background: @component-background;
}