@import "colors";

@switch-shadow-color: @gray-3;

.@{switch-prefix-cls} {
  background-color: @gray-3;

  &:focus,
  &:active {
    box-shadow: @box-shadow-primary;
  }

  &-checked {
    background-color: @primary-5;
  }

  &::after {
    box-shadow: none !important;
  }
}
