@import "colors";

@table-selected-row-bg: @gray-2;
@table-expanded-row-bg: @gray-1;
@table-body-sort-bg: fade(@black, 1%);
@table-border-width: 1px;

.@{table-prefix-cls} {
  table-layout: fixed;

  &-thead > tr > th {
    border-bottom: @table-border-width @border-style-base @border-color-split;
  }

  &-tbody > tr > td {
    border-bottom: @table-border-width @border-style-base @border-color-split;
    transition: all 0.3s, border 0s;
  }

  &-footer {
    border-top: @table-border-width @border-style-base @border-color-split;
  }

  &-bordered &-footer {
    border: @table-border-width @border-style-base @border-color-split;
  }

  &-bordered &-title {
    border: @table-border-width @border-style-base @border-color-split;
  }

  &-bordered {
    .@{table-prefix-cls}-header > table,
    .@{table-prefix-cls}-body > table,
    .@{table-prefix-cls}-fixed-left table,
    .@{table-prefix-cls}-fixed-right table {
      border: @table-border-width @border-style-base @border-color-split;
      border-right: 0;
      border-bottom: 0;
    }

    &.@{table-prefix-cls}-empty {
      .@{table-prefix-cls}-placeholder {
        border-right: @table-border-width @border-style-base @border-color-split;
        border-left: @table-border-width @border-style-base @border-color-split;
      }
    }

    .@{table-prefix-cls}-thead > tr:not(:last-child) > th {
      border-bottom: @table-border-width @border-style-base @border-color-split;
    }

    .@{table-prefix-cls}-thead > tr > th,
    .@{table-prefix-cls}-tbody > tr > td {
      border-right: @table-border-width @border-style-base @border-color-split;
    }
  }

  &-placeholder {
    border-top: @table-border-width @border-style-base @border-color-split;
    border-bottom: @table-border-width @border-style-base @border-color-split;
  }

  &-filter-dropdown {
    &-btns {
      border-top: @table-border-width @border-style-base @border-color-split;
    }
  }

  &-row {
    &-expand-icon {
      border: @table-border-width @border-style-base @border-color-split;
    }
  }


}
