@import "colors";

@grid-columns: 12;
@font-size-sm: 12px;
@font-size-base: 14px;
@font-size-lg: 16px;

@line-height-base: 1.7;
@heading-color: fade(@black, 85%);
@heading-1-size: ceil(@font-size-base * 2.488);
@heading-2-size: ceil(@font-size-base * 2.074);
@heading-3-size: ceil(@font-size-base * 1.728);
@heading-4-size: ceil(@font-size-base * 1.44);

.typography-title-1() {
  color: @gray-9;
  font-weight: 500;
  font-size: 38px;
}

.typography-title-2() {
  color: @gray-6;
  font-weight: 500;
  font-size: 30px;
}

.typography-title-3() {
  color: @gray-6;
  font-weight: 500;
  font-size: 24px;
}

.typography-title-4() {
  color: @gray-6;
  font-weight: 500;
  font-size: 20px;
}

.ant-divider-horizontal {
  margin: 14px 0;
}

@layout-body-background: @gray-2;
@layout-header-background: @gray-9;
@layout-trigger-background: @gray-8;
@layout-trigger-color: @white;
@layout-sider-background-light: @white;
@layout-trigger-background-light: @white;
